<div ng-controller="mainCtrl">
    <div>
        tout simplement une vue gérée par le controlleur mainCtrl 
        et  la preuve  ce que ma variable  a été modifier par le controlleur {{mainCtrlScoped}}
        <span>heure d'instanciation de controlleur {{mainCtrlDate|date:'yyyy-MM-dd HH:mm:ss Z'}} </span>
        <span>heure de chargement de la page {{mainCtrlDate2|date:'yyyy-MM-dd HH:mm:ss Z'}} </span>
    </div>
    <h1>The Security Information View</h1>
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <td>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userRegistrationEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="password" class="form-control"
                                   ng-model="userRegistrationPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td>
                            <input type="password" class="form-control"
                                   ng-model="userRegistrationConfirmPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Register"
                                   class="form-control btn btn-success"
                                   ng-click="registerUser()" />
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
            <td>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userLoginEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="password"
                                   class="form-control"
                                   ng-model="userLoginPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Login" class="form-control btn btn-success"
                                   ng-click="login()" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    </div>
